<div class="container">
    <form action="/add_product" method="POST">
        Tên sản phẩm<input type="text" name="name" placeholder="Tên sản phẩm"><br>
        Link hình ảnh<input type="text" name="imagePath" placeholder="Link hình ảnh"><br>
        Nhãn hiệu<input type="text" name="brand" placeholder="Nhãn hiệu"><br>
        Loại sản phẩm<input type="text" name="type" placeholder="Loại sản phẩm"><br>
        Giá sản phẩm<input type="number" name="price" placeholder="Giá sản phẩm"><br>
        <button type="submit">Thêm sản phẩm</button>
        <button><a href="/products">Quay về</a></button>
    </form>
</div>