<div style="align-items: center;">
    <form action="/login" style="text-align:center" method="POST">
        <h2>Tài Khoản</h2>
        <input type="text" name="username" placeholder="Tài Khoản">
        <h2>Mật Khẩu</h2>
        <input type="password" name="password" placeholder="Mật Khẩu">
        <p>{{message}}</p>
        <p><button type="submit">Đăng nhập</button></p>
    </form>
</div>