<div class="container" style="align-items: center;">
    <h1>THÊM TÀI KHOẢN ADMIN</h1>
    <form action="/register" method="POST">
        Nhập Username&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="username" placeholder="Username"><br>
        Nhập password&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="password" placeholder="Password"><br>
        Nhập lại password&nbsp&nbsp<input type="text" name="password_2" placeholder="Repeat Password"><br>
        <p>{{message}}</p>
        <button type="submit">Thêm admin</button>
        <button><a href="/index">Quay về</a></button>
    </form>
</div>