<section id="form"><!--form-->

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Tìm kiếm nâng cao</h2>
						<form action="#">
							<input type="text" placeholder="Tên sản phẩm"/>
							<input type="text" placeholder="Mã sản phẩm"/>
                            <input type="text" placeholder="Nhãn hiệu"/>
                            <input type="text" placeholder="Mã sản phẩm"/>
                            <input type="text" placeholder="Giá cả"/>
						</form>
                        <button type="submit" class="btn btn-default">
                            <a href="#">Tìm kiếm</a>
                        </button>
					</div><!--/sign up form-->
				</div>
		</div>
</section><!--/form-->
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>